* {
  font-family: "Poppins";
}

.navigation {
  position: absolute;
  width: 1400px;
  height: 78px;
  left: 0px;
  top: 20px;
  color: #2f281e;
}

.logo {
  margin-top: 22px;
  margin-right: 320px;
  margin-left: 143px;
  margin-bottom: 24;
}

.rectangle {
  margin-right: 145px;
  margin-left: 1027px;
  width: 228px;
  height: 46px;
  left: -2px;
  top: 0px;
}

.sign-in {
  /* position: absolute; */
  left: 73.5%;
  right: 19.21%;
  top: 19.23%;
  bottom: 21.79%;
  color: #173a56;
  background-color: white;
  border: 1px solid #bcd0e5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 35px;
  margin-bottom: 47px;
  height: 46px;
  width: 110px;
}

.sign-in:hover {
  background-color: #ff9900;
  color: white;
}

.sign-up {
  /* position: absolute; */
  left: 81.79%;
  right: 10.36%;
  top: 19.23%;
  bottom: 21.79%;
  color: #ffffff;
  background-color: #ff9900;
  border-radius: 4px;
  border: none;
  margin-top: 35px;
  margin-right: 145px;
  margin-left: 14px;
  margin-bottom: 47px;
  height: 46px;
  width: 110px;
}

.sign-up:hover {
  background-color: white;
  color: black;
  border: 1px solid #bcd0e5;
}

.navlinks {
  text-decoration: none;
  padding-left: 10px;
  height: 28px;
  left: 46.07%;
  right: 28.93%;
  top: calc(50% - 28px / 2);
  font-size: 14px;
  line-height: 2px;
  word-spacing: 27px;
  color: #2f281e;
  margin-right: 12px;
}

.navlinks:hover {
  color: #ff9900;
}

.header {
  width: 1126px;
  height: 496px;
  left: 145px;
  top: 128px;
  bottom: 110px;
  right: 129px;
}

.left-side {
  /* position: absolute; */
  width: 518px;
  height: 331px;
  left: 145px;
  top: 211px;
  margin-right: 737px;
}

.img-right {
  position: absolute;
  width: 605px;
  height: 496px;
  left: 666px;
  top: 128px;
  margin-top: 30px;
  margin-right: 129px;
}

.text {
  position: absolute;
  width: 518px;
  height: 108px;
  left: 145px;
  top: 211px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}

.tools {
  position: absolute;
  width: 458px;
  height: 95px;
  left: 145px;
  top: 349px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.get-started {
  position: absolute;
  width: 175px;
  height: 53px;
  left: 145px;
  top: 489px;
  background: #ff9900;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border: none;
  color: #ffffff;
}

.get-started:hover {
  background-color: white;
  color: black;
  border: 1px solid #bcd0e5;
}

.button-watch-the-video {
  position: absolute;
  width: 200px;
  height: 23px;
  left: 350px;
  top: 504px;
  border: none;
  color: #ff9900;
  text-decoration: underline;
  background-color: white;
}

.image:hover {
  background-color: black;
}

.button-watch-the-video:hover {
  color: black;
}

.text-watch {
  position: absolute;
  height: 24px;
  left: 16.15%;
  right: 0%;
  top: calc(50% - 24px / 2 + 0.5px);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
}

.feature {
  position: absolute;
  width: 2211px;
  height: 543px;
  left: -406px;
  top: 734px;
}

.we-design {
  position: absolute;
  height: 108px;
  left: 38.22%;
  right: 37.4%;
  top: calc(50% - 108px / 2 - 217.5px);

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;

  color: #2f281e;
  /* margin-bottom: 45px;
  margin-left: 439px;
  margin-right: 422px;
  margin-top: 734px; */
}

.card {
  /* position: absolute; */
  width: 1095px;
  height: 204px;
  left: 567px;
  top: 162px;
  margin-right: 549px;
  margin-top: 162px;
  margin-bottom: 177px;
  margin-left: 567px;
}

.card-1 {
  position: absolute;
  width: 240px;
  height: 204px;
  left: 1422px;
  top: 162px;
  margin-right: 144px;
  margin-bottom: 144px;
}

.icon-1 {
}

.card-2 {
  position: absolute;
  width: 240px;
  height: 178px;
  left: 1138px;
  top: 162px;
}

.icon-2 {
}

.card-3 {
  position: absolute;
  width: 240px;
  height: 178px;
  left: 853px;
  top: 162px;
}

.icon-3 {
}

.card-4 {
  position: absolute;
  width: 240px;
  height: 178px;
  left: 567px;
  top: 162px;
}

.icon-4 {
}

.sign-up-now {
  /* position: absolute; */
  left: 46.45%;
  right: 45.64%;
  top: 73.66%;
  bottom: 16.57%;

  /* position: absolute; */
  height: 24px;
  left: 19.43%;
  right: 18.29%;
  top: calc(50% - 24px / 2 + 0.5px);

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 1009;
  margin-left: 1027;
  margin-top: 400px;
  margin-bottom: 90px;

  /* position: absolute; */
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ff9900;
  border-radius: 4px;
}

.sign-up-now:hover {
  background-color: white;
  color: black;
  border: 1px solid #bcd0e5;
}
